.user-info-box{
    border: 1px solid;
    width: 20%;
    padding: 10px;
    border-radius: 10px;
}
button{
    border-radius: 7px;
    background-color: blue;
    color: white;
}
body{
    background: url('/img/santa-cruz-2287588_1920.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 5px;
}